@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        Analysis of game results and grading based on strength of schedule.
    </p>
</article>

